@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: left;
    background-color: #191b1f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.menu a {
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: #4c5eff;
    color: white;
    margin: 10px 10px;
}

.menu a:hover {
    background-color: #6070ff;
}
