@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: left;
    background-color: #191b1f;
}

.header {
    width: calc(100%-40px);
    font-weight: 500;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 611px) {
    .header {
        flex-direction: column;
        align-items: center;
        height: 100px;
    }
}

.header a {
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: #272a34;
    color: white;
}

.header a:hover, .header .left a:hover {
    background-color: #6070ff;
}

.header .left {
    display: flex;
    align-items: center;
}

.header .left a {
    background-color: #4c5eff;
    color: white;
    margin: 0 5px;
}

H1 {
    text-align : center;
    font-size : 35px;}
.head {
    text-align : center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width : 10%;}
input:invalid+span:after {
    content: "\002717 ";
    padding-left: 5px;}
input:valid+span:after {
    content: '\002713';
    padding-left: 5px;}
.NvPartie {
    display: flex;
    width: 300px;
    margin: 30px 0;
    justify-content: center;
    border: none;
    background-color: #4c5eff;
    border-radius: 25px;
    padding: 12px 50px;
    color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-size: 20px;
}

.NvPartie:hover{
    background-color: #6070ff;
}

i {
    margin-right: 15px;
  }

.jeu{
    text-align: center;
}

.ObjectToFind {
    font-size: 25px;
}
.result {
    font-size: 20px;
    display: flex;
    background-color: white;
    color: #272a34;
    border-radius: 20px;
    padding: 10px;
    width: 700px;
    align-items: center;
    font-style: italic;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.number {
    font-size: 20px;
}
.try {
    font-size: 15px;
}

.explication-container {
    position: fixed;
    bottom: 20px;
    left: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    width: 99%;
}

.explication {
    display: flex;
    background-color: white;
    color: #272a34;
    border-radius: 20px;
    padding: 20px;
    width: 550px;
    align-items: center;
}

.explication .explication-icon {
    font-size: 40px;
    margin-right: 20px;
}

.explication .explication-text {
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: 500;
}

.button {
    border:0;
    padding: 0 13px;
    border-radius: 20px;
    height: 30px;
}